name: CI
on:
  pull_request:
  push:
    branches: ["master"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Set up Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install node dependencies
        run: npm ci

      - name: Lint
        run: npx nx run-many --target=lint

  test-py:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ 3.11 ]
        os: [ ubuntu-latest ]
        postgres-version: [ 15-bookworm ]
    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        env:
          POSTGRES_PASSWORD: "password"
          POSTGRES_USER: "sftkit"
          POSTGRES_DB: "sftkit_test"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    env:
      SFTKIT_TEST_DB_USER: "sftkit"
      SFTKIT_TEST_DB_HOST: "localhost"
      SFTKIT_TEST_DB_PORT: "5432"
      SFTKIT_TEST_DB_DBNAME: "sftkit_test"
      SFTKIT_TEST_DB_PASSWORD: "password"
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Set up Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install node dependencies
        run: npm ci

      - name: Test
        run: npx nx run-many --target=test --projects=tag:lang:python
  
  test-js:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 24 ]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Set up Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install node dependencies
        run: npm ci

      - name: Test
        run: npx nx run-many --target=test --projects=tag:lang:javascript

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Set up Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install node dependencies
        run: npm ci

      - name: Build
        run: npx nx run-many --target=build
