name: Publish
on:
  push:
    tags: ["*-*.*.*"]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Set up Nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: package-lock.json
      
      - name: Publish
        run: '[[ ${{ github.ref_name }} =~ ^(.*)-[0-9]+\.[0-9]+\.[0-9]+$ ]] && export PROJECT="${BASH_REMATCH[1]}" && npx nx release publish --projects $PROJECT --verbose'
        shell: bash
        env:
          NPM_CONFIG_PROVENANCE: true
          NPM_CONFIG_ACCESS: public